@font-face 
{
    font-family: 'robotoregular';
    src: url('police/Roboto-Regular-webfont.eot');
    src: url('police/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/Roboto-Regular-webfont.woff2') format('woff2'),
         url('police/Roboto-Regular-webfont.woff') format('woff'),
         url('police/Roboto-Regular-webfont.ttf') format('truetype'),
         url('police/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'robotobold';
    src: url('police/Roboto-Bold-webfont.eot');
    src: url('police/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/Roboto-Bold-webfont.woff2') format('woff2'),
         url('police/Roboto-Bold-webfont.woff') format('woff'),
         url('police/Roboto-Bold-webfont.ttf') format('truetype'),
         url('police/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'robotolight';
    src: url('police/Roboto-Light-webfont.eot');
    src: url('police/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/Roboto-Light-webfont.woff2') format('woff2'),
         url('police/Roboto-Light-webfont.woff') format('woff'),
         url('police/Roboto-Light-webfont.ttf') format('truetype'),
         url('police/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    width: 100%;
}

.logo_header
{
    width: 160px;
    padding-top: 24px;
    padding-bottom: 12px;
}

.btn
{
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    font-family: 'robotoregular', sans-serif;
    font-size: 15px;
    width: 215px;
    height: 50px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 8px rgb(199, 199, 199);
}

.btn:hover
{
    filter: brightness(110%);
    opacity: 0.8;
    box-shadow: 0px 3px 12px rgb(146, 146, 146);
}

.description
{
    background-color: rgb(248, 248, 248);
    width: 270px;
    height: 75px;
    border-radius: 25px;
    box-shadow: 0px 5px 8px rgb(233, 233, 233);
}

footer
{
    background-color: rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-right: 135px;
    font-family: 'robotoregular', sans-serif;
    font-size: 14px;
    height: 160px;
    color: white;
}

footer a
{
    text-decoration: none;
    color: white;
}

footer img
{
    padding-right: 70px;
    width: 100px;
    filter: invert(100%) brightness(200%);
}

.footer_info
{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    height: 120px;
}

.footer_icone_p
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
}

.footer_p
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 24px;
}

footer p
{
    margin: 0px;
}

footer i
{
    margin-right: 12px;
}

.fa-handshake-angle
{
   width: 11px;
   font-size: 10px;
}

@media all and (min-width: 768px)
{
    footer
    {
        flex-direction: row;
        justify-content: center;
        padding-top: 0;
        padding-right: 110px;
    }

    footer img
    {
        width: 260px;
        padding-right: 70px;
    }

    .footer_info
    {
        padding-top: 0;
        height: 100px;
    }
}

@media all and (min-width: 1062px)
{
    footer
    {
        padding-right: 0;
        font-size: 18px;
        flex-wrap: wrap;
    }

    .footer_info
    {
        flex-direction: row;
        align-items: center;
        height: auto;
        padding-bottom: 18px;
        padding-left: 50px;
    }

    .footer_info p
    {
        margin-right: 50px;
    }

    footer img
    {
        padding-top: 25px;
        padding-right: 400px;
        padding-left: 400px;
    } 

    footer i
    {
        margin-right: 8px;
    }

    .fa-handshake-angle
    {
        width: 20px;
        font-size: 18px;
    }
}

@media all and (min-width: 1416px)
{
    footer
    {
        padding-left: 80px;
    }

    footer img
    {
        padding: 0;
    }

    .footer_info
    {
        padding-bottom: 0;
        padding-left: 80px;
    }

    .footer_info p
    {
        margin-right: 80px;
    }
}