@font-face 
{
    font-family: 'robotoregular';
    src: url('police/Roboto-Regular-webfont.eot');
    src: url('police/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/Roboto-Regular-webfont.woff2') format('woff2'),
         url('police/Roboto-Regular-webfont.woff') format('woff'),
         url('police/Roboto-Regular-webfont.ttf') format('truetype'),
         url('police/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'robotobold';
    src: url('police/Roboto-Bold-webfont.eot');
    src: url('police/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/Roboto-Bold-webfont.woff2') format('woff2'),
         url('police/Roboto-Bold-webfont.woff') format('woff'),
         url('police/Roboto-Bold-webfont.ttf') format('truetype'),
         url('police/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'robotolight';
    src: url('police/Roboto-Light-webfont.eot');
    src: url('police/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/Roboto-Light-webfont.woff2') format('woff2'),
         url('police/Roboto-Light-webfont.woff') format('woff'),
         url('police/Roboto-Light-webfont.ttf') format('truetype'),
         url('police/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    width: 100%;
}

.logo_header
{
    width: 150px;
    padding-top: 22px;
    padding-bottom: 12px;
}

.btn
{
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    font-family: 'robotoregular', sans-serif;
    font-size: 15px;
    width: 215px;
    height: 50px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 8px rgb(199, 199, 199);
    transform: scale(1);
    transition: all .3s;
}

.btn:hover
{
    filter: brightness(105%);
    opacity: 0.8;
    box-shadow: 0px 2px 12px rgb(146, 146, 146);
    transform: scale(1.05);
}

footer
{
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'robotoregular', sans-serif;
    font-size: 14px;
    height: 180px;
    color: white;
}

.footer
{
    width: 295px;
    height: 80%;
    padding-top: 14px;
}

footer a
{
    text-decoration: none;
    color: white;
}

footer img
{
    width: 100px;
    filter: invert(100%) brightness(200%);
}

.footer_info
{
    display: flex;
    flex-direction: column;
    padding-top: 14px;
}

.footer_icone_p
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
}

.footer_p
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 24px;
}

footer p
{
    margin: 0px;
}

footer i
{
    margin-right: 12px;
}

.fa-handshake-angle
{
   width: 11px;
   font-size: 10px;
}

@media all and (min-width: 768px)
{
    .footer
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 600px;
    }

    footer img
    {
        width: 250px;
    }

    .footer_info
    {
        padding: 0;
        width: 250px;
    }
}

@media all and (min-width: 1024px)
{
    .footer
    {
        width: 1000px;
    }

    footer img
    {
        width: 300px;
    }

    .footer_info
    {
        flex-direction: row;
        justify-content: space-around;
        width: 600px;
    }
}