.header
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 1px 10px rgb(184, 184, 184);
}

.localisation
{
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'robotobold';
    margin-top: 5px;
    padding-right: 26px;
    padding-bottom: 2px;
    width: auto;
    height: 42px;
    color: rgb(61, 61, 61);
    font-size: 16px;
}

.localisation i
{
    padding-right: 15px;
    margin-bottom: 3px;
}

.explorer
{
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 55px;
}

.explorer h1
{
    font-family: 'robotobold';
    font-size: 24px;
    margin-bottom: 0px;
}

.explorer p
{
    font-family: 'robotolight';
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.fonctionnement
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.fonctionnement h2
{
    font-family: 'robotobold';
    font-size: 23px;
    padding-right: 142px;
    margin-bottom: 9px;
}

.etape
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -10px;
}

.numero
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9356DC;
    color: white;
    font-size: 13px;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    margin-right: -10px;
    z-index: 1;
}

.description
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'robotobold';
    padding-left: 30px;
    font-size: 16px;
}

.fonctionnement_icone
{
    color: rgb(155, 155, 155);
    font-size: 20px;
    margin-right: 20px;
}

.description:hover
{
    background-color: rgb(244, 236, 253);
}

.description:hover .fonctionnement_icone
{
    color: #9356DC;
}

.restaurant
{
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    height: 1000px;
}

.restaurant h2
{
    font-family: 'robotobold';
    font-size: 23px;
    margin-bottom: 0px;
    padding-right: 186px;
}

.card_restaurant
{
    background-color: white;
    width: 314px;
    height: 218px;
    border-radius: 15px;
    box-shadow: 0px 5px 8px rgb(219, 219, 219);
}

.card_img img
{
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.card_body
{
    position: relative;
    left: 12px;
    bottom: 4px;
    width: 200px;
    height: 40px;
}

.card_title
{
    font-family: 'robotobold';
    font-size: 14px;
}

.card_district
{
    position: relative;
    font-family: 'robotolight';
    font-size: 15px;
    bottom: 14px;
}

.card_heart
{
    position: relative;
    font-size: 26px;
    left: 252px;
    bottom: 68px;
    width: 20px;
}

.card_new
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 195px;
    left: 230px;
    font-family: 'robotobold';
    font-size: 13px;
    background-color: rgb(144, 230, 201);
    border-radius: 2px;
    color: rgb(0, 128, 107);
    width: 75px;
    height: 28px;
    z-index: 2;
}