@font-face 
{
    font-family: 'robotoregular';
    src: url('police/Roboto-Regular-webfont.eot');
    src: url('police/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/Roboto-Regular-webfont.woff2') format('woff2'),
         url('police/Roboto-Regular-webfont.woff') format('woff'),
         url('police/Roboto-Regular-webfont.ttf') format('truetype'),
         url('police/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'robotobold';
    src: url('police/Roboto-Bold-webfont.eot');
    src: url('police/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/Roboto-Bold-webfont.woff2') format('woff2'),
         url('police/Roboto-Bold-webfont.woff') format('woff'),
         url('police/Roboto-Bold-webfont.ttf') format('truetype'),
         url('police/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'robotolight';
    src: url('police/Roboto-Light-webfont.eot');
    src: url('police/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/Roboto-Light-webfont.woff2') format('woff2'),
         url('police/Roboto-Light-webfont.woff') format('woff'),
         url('police/Roboto-Light-webfont.ttf') format('truetype'),
         url('police/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}


body
{
    font-family: 'robotoregular';
    width: 100%;
}

.header
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 1px 10px rgb(184, 184, 184);
}

.logo_header
{
    width: 160px;
    padding-top: 24px;
    padding-bottom: 12px;
}

.localisation
{
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'robotobold';
    margin-top: 5px;
    padding-right: 26px;
    padding-bottom: 2px;
    width: auto;
    height: 42px;
    color: rgb(61, 61, 61);
    font-size: 16px;
}

.localisation i
{
    padding-right: 15px;
    margin-bottom: 3px;
}

.explorer
{
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 55px;
}

.explorer h1
{
    font-family: 'robotobold';
    font-size: 24px;
    margin-bottom: 0px;
}

.explorer p
{
    font-family: 'robotolight';
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.btn
{
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    font-size: 15px;
    width: 215px;
    height: 50px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 8px rgb(199, 199, 199);
}

.btn:hover
{
    filter: brightness(110%);
    opacity: 0.8;
    box-shadow: 0px 3px 12px rgb(146, 146, 146);
}

.fonctionnement
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.fonctionnement h2
{
    font-family: 'robotobold';
    font-size: 23px;
    padding-right: 142px;
    margin-bottom: 9px;
}

.etape
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -10px;
}

.numero
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9356DC;
    color: white;
    font-size: 13px;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    margin-right: -10px;
    z-index: 1;
}

.description
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'robotobold';
    font-size: 16px;
    padding-left: 30px;
    background-color: rgb(248, 248, 248);
    width: 270px;
    height: 75px;
    border-radius: 25px;
    box-shadow: 0px 5px 8px rgb(233, 233, 233);
}

.fonctionnement_icone
{
    color: rgb(155, 155, 155);
    font-size: 20px;
    margin-right: 20px;
}

.description:hover
{
    background-color: rgb(244, 236, 253);
}

.description:hover .fonctionnement_icone
{
    color: #9356DC;
}

.restaurant
{
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    height: 1000px;
}

.restaurant h2
{
    font-family: 'robotobold';
    font-size: 23px;
    margin-bottom: 0px;
    padding-right: 186px;
}

.card_restaurant
{
    background-color: white;
    width: 314px;
    height: 218px;
    border-radius: 15px;
    box-shadow: 0px 5px 8px rgb(219, 219, 219);
}

.card_img img
{
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.card_body
{
    position: relative;
    left: 12px;
    bottom: 4px;
    width: 200px;
    height: 40px;
}

.card_title
{
    font-family: 'robotobold';
    font-size: 14px;
}

.card_district
{
    position: relative;
    font-family: 'robotolight';
    font-size: 15px;
    bottom: 14px;
}

.card_heart
{
    position: relative;
    font-size: 26px;
    left: 252px;
    bottom: 68px;
    width: 20px;
}

.heart_color
{
    transition: all 0.3s linear 0s;
    background-color: linear-gradient(#9356DC, #FF79DA);
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}

.card_heart:hover .heart_color
{
    height: 100%;
}

.card_new
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 195px;
    left: 230px;
    font-family: 'robotobold';
    font-size: 13px;
    background-color: rgb(144, 230, 201);
    border-radius: 2px;
    color: rgb(0, 128, 107);
    width: 75px;
    height: 28px;
    z-index: 2;
}

footer
{
    background-color: rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-right: 135px;
    font-size: 14px;
    height: 160px;
    color: white;
}

footer img
{
    padding-right: 70px;
    width: 100px;
    filter: invert(100%) brightness(200%);
}

.footer_info
{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    height: 120px;
}

.footer_icone_p
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
}

.footer_p
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 24px;
}

.fa-handshake-angle
{
   width: 11px;
   font-size: 10px;
}

footer i
{
    margin-right: 12px;
}

footer p
{
    margin: 0px;
}

footer a
{
    text-decoration: none;
    color: white;
}