.loader_spinner_back
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: linear-gradient(#FF79DA, #9356DC);
    width: 100%;
    height: 100%;
    z-index: 2;
    animation: opacity_back 3s forwards;
}

@keyframes opacity_back
{
    0%
    {
        opacity: 1;
    }
    80%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        pointer-events: none;
    }  
}

.loader_spinner_back i
{
    position: fixed;
    color: white;
    transform: scale(8);
}

.carré_spinner
{
    border: 4px solid white;
    padding: 100px 100px 100px 80px;
    animation: anim_carré 3s forwards;
}

@keyframes anim_carré
{
    0%
    {
        opacity: 1;
        transform: rotate(0deg);
    }
    25%
    {
        transform: rotate(360deg);
    }
    50%
    {
        transform: rotate(0deg);
    }
    75%
    {
        transform: rotate(360deg);
        opacity: 1;
    }
    100%
    {
        transform: rotate(0deg);
        opacity: 0;
    }
}

.header
{
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 10px rgb(184, 184, 184);
}

.localisation
{
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'robotobold', sans-serif;
    margin-top: 5px;
    padding-right: 25px;
    padding-bottom: 2px;
    width: auto;
    height: 42px;
    color: rgb(61, 61, 61);
    font-size: 15px;
}

.localisation i
{
    padding-right: 15px;
    margin-bottom: 3px;
}

.explorer
{
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 55px;
}

.explorer h1
{
    font-family: 'robotobold', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
}

.explorer p
{
    font-family: 'robotolight', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.fonctionnement
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 50px;
}

.div_fonctionnement
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 320px;
}

.fonctionnement h2
{
    font-family: 'robotobold', sans-serif;
    font-size: 23px;
    margin-bottom: 9px;
}

.etape
{
    display: flex;
    align-items: center;
    margin-bottom: -10px;
}

.numero
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9356DC;
    color: white;
    font-family: 'robotoregular', sans-serif;
    font-size: 13px;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    margin-right: -15px;
    z-index: 1;
}

.description
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'robotobold', sans-serif;
    background-color: rgb(248, 248, 248);
    width: 275px;
    height: 75px;
    border-radius: 25px;
    box-shadow: 0px 5px 8px rgb(233, 233, 233);
    padding-left: 35px;
    font-size: 15px;
}

.fonctionnement_icone
{
    color: rgb(155, 155, 155);
    font-size: 20px;
    margin-right: 25px;
}

.description:hover
{
    background-color: rgb(244, 236, 253);
}

.description:hover .fonctionnement_icone
{
    color: #9356DC;
}

.restaurant
{
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 60px;
}

.div_restaurant
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 320px;
}

.restaurant h2
{
    font-family: 'robotobold', sans-serif;
    font-size: 23px;
    margin-bottom: 5px;
}

.restaurant a
{
    text-decoration: none;
    color: black;
}

.card_restaurant
{
    position: relative;
    background-color: white;
    width: 318px;
    height: 218px;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 0px 5px 8px rgb(219, 219, 219);
}

.card_img img
{
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.card_img p
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 13px;
    top: 0;
    font-family: 'robotobold', sans-serif;
    font-size: 13px;
    background-color: rgb(144, 230, 201);
    border-radius: 2px;
    color: rgb(0, 128, 107);
    width: 75px;
    height: 28px;
}

.card_body
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 24px;
    padding-left: 12px;
    padding-top: 9px;
    height: 50px;
}

.card_title h3
{
    font-family: 'robotobold', sans-serif;
    font-size: 16px;
    width: 250px;
    margin: 0;
}

.card_district p
{
    font-family: 'robotolight', sans-serif;
    font-size: 15px;
    margin: 0;
    margin-top: 5px;
    width: 250px;
}

.card_heart
{
    align-self: flex-end;
    font-size: 24px;
    margin: 0;
    margin-top: 3px;
}

.remplissage:hover
{
    font-weight: bold;
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    animation: heart 2s forwards;
}

@keyframes heart
{
    0%
    {
        opacity: 0;
        transform: scale(1);
    }
    100%
    {
        opacity: 1;
        transform: scale(1.2);
    }
    
}

@media all and (min-width: 768px)
{
    .fonctionnement h2
    {
        text-align: center;
        width: 100%;
    }

    .div_restaurant
    {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 700px;
        height: 570px;
    }

    .card_restaurant
    {
        margin: 0;
    }

    .restaurant h2
    {
        width: 100%;
        text-align: center;
    }
}

@media all and (min-width: 1024px)
{
    .div_fonctionnement
    {
        flex-direction: row;
        flex-wrap: wrap;
        width: 1020px;
    }

    .etape
    {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media all and (min-width: 1440px)
{
    .restaurant
    {
        padding-bottom: 70px;
    }

    .div_restaurant
    {
        width: 1400px;
        height: auto;
    }

    .restaurant h2
    {
        margin-bottom: 30px;
    }
}