@font-face
{
    font-family: 'shrikhand';
    src: url('police/Shrikhand-Regular.ttf') format('truetype');
}

.header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header i
{
    color: black;
    font-size: 20px;
    margin-top: 10px;
}

.restaurant
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant img
{
    object-fit: cover;
    width: 100%;
    height: 230px;
}

.restaurant_description
{
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -45px;
    border-radius: 40px 40px 0px 0px;
}

.restaurant_details
{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h2
{
    width: 100%;
    font-size: 26px;
    font-family: 'shrikhand';
    margin-top: 30px;
    margin-bottom: 15px;
}

.restaurant_description i
{
    margin-left: 35px;
}

h3
{
    font-size: 15px;
    color: rgb(100, 100, 100);
    width: 35px;
    height: 22px;
    border-bottom: 3px solid rgb(144, 230, 201);
    text-transform: uppercase;
    font-family: 'robotolight';
}

.plat
{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 320px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(214, 214, 214);
    margin-bottom: 12px;
}

.plat p
{
    margin: 0;
}

.details_plat
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    flex: 1;
}

.plat_titre
{
    font-family: 'robotobold';
    font-size: 17px;
}

.plat_description
{
    font-family: 'robotolight';
    font-size: 13px;
}

.plat_prix
{
    display: flex;
    align-items: flex-end;
    padding-bottom: 11px;
    padding-right: 20px;
    font-family: 'robotobold';
    font-size: 13px;
}

.commander
{
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    padding-top: 30px;
}

@media all and (min-width: 768px)
{
    .restaurant_details
    {
        width: 760px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    h2
    {
        margin-top: 60px;
        margin-bottom: 35px;
        font-size: 50px;
        text-align: center;
        text-indent: 80px;
    }

    .restaurant_description i
    {
        text-indent: 0;
    }


    .type_plat
    {
        margin-bottom: 20px;
    } 

    .nom_type_plat
    {
        display: flex;
        justify-content: center;
    }

    h3 
    {
        width: auto;
        font-size: 20px;
        height: 30px;
    }
}

@media all and (min-width: 1024px)
{
    .restaurant_details
    {
        width: 80%;
    }

    .type_plat
    {
        margin: 20px;
    }

    h2
    {
        margin-bottom: 15px;
    }
}